/* src/components/Navbar.css */
.custom-navbar {
    background-color: #1a1a1a !important;
    padding: 1rem;
  }
  
  .nav-link {
    font-weight: 500;
    color: #ffffff !important;
  }
  
  .nav-link:hover {
    color: #001aff !important;
  }
  